spring.application.name: primeiro
spring.servlet.multipart.max-file-size: 10MB

# Defina as variáveis de ambiente para o banco de dados PostgreSQL
spring.datasource.driver-class-name: org.postgresql.Driver
spring.datasource.url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
spring.datasource.username: ${POSTGRES_USER}
spring.datasource.password: ${POSTGRES_PASSWORD}

# Configurações do JPA/Hibernate
spring.jpa.database: postgresql
# # spring.jpa.properties.hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
spring.jpa.database-platform: org.hibernate.dialect.PostgreSQLDialect
spring.jpa.show-sql: true

# Configuração do servidor
server.port: ${APP_PORT:9000}
server.servlet.context-path: ${PATH_PREFIX:/}
server.compression.enabled: true
server.ssl.enabled: false

# CORS (Cross-Origin Resource Sharing) para permitir requisições de um frontend
app.security.allowed-origin-patterns: ${ALLOWED_ORIGINS_PATTERN:http://localhost:3000}

# logging.level.org.springframework.web: DEBUG
# logging.level.com.seu.projeto: TRACE
